/* Geral */
body {
  font-family: 'Signika Negative', sans-serif;
  color: #333;
}

/* Textarea */
textarea {
  height: 70px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 0.9rem;
  width: calc(100% - 18px);
  resize: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input fields */
input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  width: calc(80% - 18px);
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.modal-body .logo-modal img {
  width: 10%;
  height: auto;
  object-fit: cover;
  padding-top: 2%;
}

/* Headers and span */
.modal-body .mensagem-modal h3,
span {
  display: block;
  font-family: 'Signika Negative', sans-serif;
  color: #fff;
  margin: 0;
}

.modal-body .mensagem-modal span {
  color: #BEDDED;
}

/* Buttons */
.botaoAtivarFale {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

#open-modal {
  background-color: #4A8CD8;
  border-radius: 10px;
  border: none;
  padding: 12px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

#open-modal:hover {
  background-color: #3083e2;
  cursor: pointer;
}

#close-modal {
  width: 80px;
  height: 40px;
  background-color: #4A8CD8;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

#close-modal:hover {
  background-color: #3083e2;
}

/* Fade and Modal */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px; /* Aumentando a largura máxima do modal */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
  max-height: 90%;
}

/* Modal transition */
#fade,
#modal {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 1;
  pointer-events: all;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

/* Modal Body */
.modal-body {
  display: grid;
  grid-template-columns: auto 1fr; /* Logo ocupa uma coluna automática, título ocupa uma coluna flexível */
  align-items: center; /* Alinha os itens verticalmente */
  gap: 20px; /* Espaçamento entre os elementos */
  background: linear-gradient(80deg, #141c80 60%, rgb(36, 86, 144) 100%);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Modal Form Information */
.modal-informacao {
  background-color: white;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modal-informacao input {
  border: 1px solid #ccc;
  width: calc(100% - 18px);
  padding: 8px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-informacao label {
  font-family: 'Signika Negative', sans-serif;
  margin-bottom: 5px;
  display: block;
  font-size: 0.9rem;
}

.modal-informacao input::placeholder {
  font-size: 0.8rem;
}

/* Form Button */
.modal-informacao .botao-formulario {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #4A8CD8;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}

.modal-informacao .botao-formulario:hover {
  background-color: #3083e2;
}

/* Keyframes */
@keyframes animacao {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-10px);
  }

  100% {
      transform: translateY(0);
  }
}

/* Imagens */

.imagem-logo img {
  width: 50%;
  height: auto;
}

.contato {
  background: linear-gradient(120deg, rgb(5, 5, 99) 40%, rgb(36, 86, 144) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
  .titulo1-fale {
    text-align: left;
    width: 100%;
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .titulo2-fale {
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
    color: white;
  }
  
  .contato img {
    width: 30%;
    height: auto;
  }
  
  .contato a {
    text-decoration: none;
    color: white;
  }
  
  /* Media Queries */
  @media (max-width: 1065px) {
    .contato img {
        display: none;
    }
  }
  
  @media (max-width: 570px) {
    .modal-body {
        background-color: aqua;
    }
  }
  
  /* Hide modal */
  #modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  