@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #11113A;
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #13072E;
    padding: 20px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar h2 {
    color: #FFFFFF;
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #171769;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    text-align: center;
    color: #FFD700;
}

#quiz-container {
    text-align: center;
    background-color: #222255;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quiz-question {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.quiz-options button {
    display: block;
    width: 100%;
    background-color: #171769;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.quiz-options button:hover {
    background-color: #13072E;
    transform: scale(1.05);
}

.quiz-result {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #FFD700;
}

.content-section {
    display: none;
}
