@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

        body {
            background-color: #11113A;
            color: #FFFFFF;
            font-family: 'Press Start 2P', cursive;
            margin: 0;
            display: flex;
            height: 100vh;
        }

        .sidebar {
            background-color: #13072E;
            padding: 20px;
            width: 250px;
            height: 100vh;
            box-sizing: border-box;
        }

        .sidebar h2 {
            color: #FFFFFF;
            text-align: center;
        }

        .sidebar nav ul {
            list-style: none;
            padding: 0;
        }

        .sidebar nav ul li {
            margin: 20px 0;
        }

        .sidebar nav ul li a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 18px;
            display: block;
            text-align: center;
            padding: 10px 0;
            transition: background-color 0.3s;
        }

        .sidebar nav ul li a:hover {
            background-color: #171769;
            border-radius: 5px;
        }

        .main-content {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            margin-bottom: 20px;
        }

        header h1 {
            font-size: 24px;
            text-align: center;
            color: #FFD700;
        }

        header p {
            font-size: 16px;
            text-align: center;
            color: #FFFFFF;
        }

        .content-section {
            display: none;
        }

        .content-section.active {
            display: block;
        }

        #inicio-content {
            width: 100%;
            max-width: 800px;
            background-color: #222255;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .card-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .card {
            width: 200px;
            height: 100px;
            background-color: #444477;
            color: #FFFFFF;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .card:hover {
            background-color: #555588;
        }

        .card span {
            text-align: center;
        }